
body {
    background-color: rgb(229, 231, 235); 
    font-family: sans-serif;
  }
  
  
  .statistics__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-inline: 20px;
  }
  

  .statistics__mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0; 
  }
  

  .statistics__randomGame,
  .statistics__completedGames,
  .statistics__bestPlayers,
  .statistics__worstPlayers {
    background-color: white;
    border: 1px solid #CCC; 
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .statistics__completedGames-inner{

    display: grid;
    grid-template-columns: 30% 30% 30%;

  }
 
  .statistics__secondaryTitle {
    font-size: 2em;
    margin-bottom: 10px;
  }
  

  .statistics__viewAllGamesButton {
    font-size: 25px;
    color: white; 
    cursor: pointer;
    background-color: #22c55e;
    padding: 5px 12px; 
    border: none;
    border-radius: 5px; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 20px;
    transition: 0.5s;
  }
  
  .statistics__viewAllGamesButton:hover {
    background-color: green; 
  }
  

  .statistic__joinButton {
    cursor: pointer;
    background-color: #22c55e;
    color: white;
    padding: 5px 12px; 
    border: none;
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s; 
  }
  
  .statistic__joinButton:hover {
    background-color: green; 
  }
  

  @media (max-width: 920px) {
    .statistics__completedGames-inner{
      grid-template-columns: 50% 50%;
    }
  }

  @media (max-width: 600px) {
    .statistics__completedGames-inner{
      grid-template-columns: 100%;
    }
  }